<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="etechflow_variant_links_migrate" xsi:type="object">ETechFlow\VariantLinks\Console\Command\MigrateLegacyButtons</item>
                <item name="etechflow_variant_links_import" xsi:type="object">ETechFlow\VariantLinks\Console\Command\ImportVariantLinks</item>
            </argument>
        </arguments>
    </type>
</config>
